:host { position: relative; display: block; height: 100%; }
.header { overflow: hidden; position: fixed; top: 0; width: 100%; background: #cc181e; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.75); z-index: 100 }
.ico_search { display: inline-block; width: 50px; height: 50px; color: #fff; font-size: 50px; line-height: 50px; }
.btn_menu-close { float: left; display: inline-block; width: 50px; height: 50px; font-size: 30px; background: #cc181e; }
.btn_menu-close .material-icons { font-size: 28px; color: #fff }
/* Material Icon */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../../../vendor/material/v22_material_icon.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
