<div class="wrapper">
  <div class="container">
    <h1>Greeting!</h1>

    <div class="wrap_form">
      <input type="text" [(ngModel)]="email" placeholder="Email">
      <input type="password" [(ngModel)]="passwd" placeholder="Password">
      <button type="submit" (click)="login()">Let me in</button>
      <button type="submit" (click)="logout()">logout</button>
      <div>currentUser : {{user}}</div>
    </div>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
