<div class="swiper-container" vScroll>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="content">
        <ul class="video_list" *ngIf="videoList">
          <li class="video" *ngFor="let video of videoList">
            <div class="video_content">
              <a (click)="onClickPlayVideo(video)">
                <img src="{{video.snippet.thumbnails.high.url}}" alt="{{video.snippet.title}}">
                <div class="description">
                  <!--<i class="material-icons">favorite</i>-->
                  <span class="txt">{{video.snippet.description}}</span>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="swiper-scrollbar"></div>
</div>

