:host { display: block; height: 100%; background: #fff }
/*.content { padding: 50px 0; }*/
.video_list { overflow: hidden; }
.video { position: relative; display: block; }
/* responsive */
@media screen and (max-width: 767px) {
  .video { width: 100%; }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .video { float: left; width: 50%; }
}
@media screen and (min-width: 1280px) {
  .video { float: left; width: 25%; }
}

/**
  Scroll Wrapper
 */
.swiper-container {
  margin: 50px 0 0;
  padding: 0 0 50px;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: auto;
  box-sizing: border-box;
}
.v-swiper > .swiper-slide {
  height: auto;
}
