:host { display: block; height: 100%; background: #fff }
.wrap_content { position: relative; }

.content { padding: 50px 0; }
.video_list { overflow: hidden; }
.video { position: relative; display: block; }
/* responsive */
@media screen and (max-width: 767px) {
  .video { width: 100%; }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .video { float: left; width: 50%; }
}
@media screen and (min-width: 1280px) {
  .video { float: left; width: 25%; }
}
