<div class="wrap_content">
  <!--<div class="header" {(click)="onRoutesArchive()">-->
  <div class="header">
    <button class="btn_menu-close" (click)="openSideMenu()">
      <i class="material-icons">view_headline</i>
    </button>
    <a class="ico_search material-icons">search</a>
  </div>
  <div class="content">
    <ul class="video_list" *ngIf="videoList">
      <li class="video" *ngFor="let video of videoList">
        <div class="video_content">
          <i class="material-icons">favorite</i>
          <img src="{{video.snippet.thumbnails.high.url}}" alt="{{video.snippet.title}}">
          {{video.snippet.description}}
        </div>
      </li>
    </ul>
  </div>
</div>

<side-menu #sideMenu></side-menu>
